.split-flex-row {
    display: flex;
    flex-direction: row;
  }
.split-flex-col {
    display: flex;
    flex-direction:column ;
  }
  .gutter.gutter-horizontal {
  cursor: col-resize;
}
  .gutter.gutter-vertical{
  cursor: row-resize;
}